@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/poppins-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe-bold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  src: url("../assets/fonts/circe-regular.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/OpenSans-VariableFont.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/OpenSans-VariableFont.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/OpenSans-VariableFont.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/OpenSans-VariableFont.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/OpenSans-VariableFont.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../assets/fonts/OpenSans-VariableFont.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
