body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  box-sizing: border-box;
  display: grid;
  justify-content: center;
  min-height: 100vh;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
